.bgColorApp {
    /* height: 100vh; */
    /* scb */
    /* display: none; */
    
    /* Hide scrollbar for IE, Edge and Firefox */
    /* .example { */
    /* -webkit-scrollbar : none; */

/* } */
}

.displaySize {
    /* background-color: #e9edc9; */
    /* width: 100%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-content: space-between; */
    /* border: 1px solid black; */
    height: calc(100vh - 90px);
    display: grid;
    grid-template-columns: 220px calc(100% - 220px);
    z-index: 1;
    position: relative;
    top: 90px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #f9f9f9;
    /* grid-gap: 20px; */
    /* grid-template-columns: 30% 70%; */
    /* grid-template-columns: 300px calc(100%-300px); */
    /* left: 0px; */
    /* right: 0px; */
    /* bottom: 0px; */
    /* margin-left: 100px; */
    /* margin-right: 10px; */
    /* margin: 10px; */
    /* width: 100vw; */
}
@media screen and (min-width: 500px) {
.displaySize {
    overflow-x: hidden;
}
}

/* @media screen and (min-width: 768px) { */
/* .displaySize { */
    /* background-color: black; */

    /* grid-template-columns: 250px calc(100% - 250px); */

/* } */
/* } */
.displaySize::-webkit-scrollbar {
    display: none;
}