* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100vh; */
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  /* max-width: 100%; */
  /* display: block; */
  /* position: relative; */
  /* overflow-x: hidden; */
  user-select: none;
}
body::-webkit-scrollbar {
  display: none;
}
